@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="intro">Bienvenidos al segundo proyecto de Bases de datos</h1>
</div>



<!--Modal para usuarios o empleados-->

<div class="text-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEmpleado" asp-page-handler="MostrarModal">
        Registrar Usuario
    </button>
</div>



<div class="modal fade" id="modalEmpleado" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Registrar empleado</h5>
                <form method="post" asp-page-handler="CerrarModal">
                    <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </form>
            </div>
            <div class="modal-body">
                <!-- Esto es para pasar la info a OnPostGuardarUsuario -->
                <form method="post" asp-page-handler="GuardarEmpleado">
                    <div class="modalEmpleadoCedula">
                        <label for="projectEmpleadoC" class="form-label">Cédula</label>
                        <input type="text" class="form-control" id="projectEmpleadoC" name="projectEmpleadoC" required>
                    </div>
                    <div class="modalEmpleadoNombre">
                        <label for="projectEmpleadoN" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="projectEmpleadoN" name="projectEmpleadoN" required />
                    </div>
                    <br />
                    <div class="modalEmpleadoApellido">
                        <label for="projectEmpleadoAP1" class="form-label">Primer apellido</label>
                        <input type="text" class="form-control" id="projectEmpleadoAP1" name="projectEmpleadoAP1" required />
                    </div>
                    <br />
                    <div class="modalEmpleadoApellido2">
                        <label for="projectEmpleadoAP2" class="form-label">Segundo apellido</label>
                        <input type="text" class="form-control" id="projectEmpleadoAP2" name="projectEmpleadoAP2" required />
                    </div>
                    <br />
                    <div class="modalEmpleadoGenero">
                        <label for="projectEmpleadoGenero" class="form-label">Género</label>
                        <select name="projectEmpleadoGenero" id="projectEmpleadoGenero">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                    <br />
                    <div class="modalEmpleadoFecha">
                        <label for="projectFecha" class="form-label">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="projectFecha" name="projectFecha" required />
                    </div>
                    <br />
                    <div class="modalProvincia">
                        <label for="projectProvincia" class="form-label">Provincia</label>
                        <input type="text" class="form-control" id="projectProvincia" name="projectProvincia" required />
                    </div>
                    <br />
                    <div class="modalDireccion">
                        <label for="projectDireccion" class="form-label">Direccion</label>
                        <input type="text" class="form-control" id="projectDireccion" name="projectDireccion" required />
                    </div>
                    <br />
                    <div class="modalTelefono">
                        <label for="projectTelefono" class="form-label">Telefono</label>
                        <input type="text" class="form-control" id="projectTelefono" name="projectTelefono" required />
                    </div>
                    <br />

                    <div class="modalDepartamentos">
                        <label for="projectDepartamentos" class="form-label">Departamentos</label>
                        <select class="form-control" id="projectDepartamentos" name="projectDepartamentos" required>
                            @foreach (var departamento in Model.Departamentos)
                            {
                                <option value="@departamento">@departamento</option>
                            }
                        </select>
                    </div>
                    <br />
                    <div class="modalFechaIngreso">
                        <label for="projectFechaIngreso" class="form-label">Fecha de ingreso</label>
                        <input type="date" class="form-control" id="projectFechaIngreso" name="projectFechaIngreso" required />
                    </div>
                    <br />

                    <div class="modalPuestos">
                        <label for="projectPuestos" class="form-label">Puestos</label>
                        <select class="form-control" id="projectPuestos" name="projectPuestos" required>
                            @foreach (var puesto in Model.Puestos)
                            {
                                <option value="@puesto">@puesto</option>
                            }
                        </select>
                    </div>
                    <br />
                    <div class="modalRoles">
                        <label for="projectRoles" class="form-label">Roles</label>
                        <select class="form-control" id="projectRoles" name="projectRoles" required>
                            @foreach (var rol in Model.Roles)
                            {
                                <option value="@rol">@rol</option>
                            }
                        </select>
                    </div>
                    <br />
                    <div class="modalUsuarios">
                        <label for="projectUsuarios" class="form-label">ID de usuario</label>
                        <select class="form-control" id="projectUsuarios" name="projectUsuarios" required>
                            @foreach (var usuario in Model.Usuarios)
                            {
                                <option value="@usuario">@usuario</option>
                            }
                        </select>
                    </div>
                    <br />
                    <div class="modalSalarioAc">
                        <label for="projectSalarioAC" class="form-label">Salario actual</label>
                        <input type="number" id="projectSalarioAC" name="projectSalarioAC" required>
                    </div>
                    <br />

                    <button type="submit" class="btn btn-primary">Guardar empleado</button>
                </form>
            </div>
            <div class="modal-footer">
                <!-- Esto es para cerrar -->
                <form method="post" asp-page-handler="CerrarModal">
                    <button type="submit" class="btn btn-secondary">Cerrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br />











<!--Toda esta parte es para los roles-->



<div class="text-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalRoles" asp-page-handler="MostrarModal2">
        Registrar roles
    </button>

</div>




<div class="modal fade" id="modalRoles" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Registrar rol</h5>
                <form method="post" asp-page-handler="CerrarModal">
                    <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </form>
            </div>
            <div class="modal-body">
                <!-- Esto es para pasar la info a OnPostGuardarUsuario -->
                <form method="post" asp-page-handler="GuardarRol">
                    <div class="modalTipoRol">
                        <label for="projectTipoRol" class="form-label">Tipo de rol</label>
                        <input type="text" class="form-control" id="projectTipoRol" name="projectTipoRol" required>
                    </div>
                    <div class="modalDescripcionRol">
                        <label for="projectDescripcionRol" class="form-label">Descripción del rol</label>
                        <textarea class="form-control" id="projectDescripcionRol" name="projectDescripcionRol" required></textarea>

                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Guardar Rol</button>
                </form>
            </div>
            <div class="modal-footer">
                <!-- Esto es para cerrar -->
                <form method="post" asp-page-handler="CerrarModal2">
                    <button type="submit" class="btn btn-secondary">Cerrar</button>
                </form>

            </div>
        </div>
    </div>
</div>
<br />





<!--Toda esta parte es para los roles con sus acciones-->



<div class="text-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAccionesRol" asp-page-handler="MostrarModal3">
        Registrar acciones por rol
    </button>

</div>




<div class="modal fade" id="modalAccionesRol" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Registrar acciones por rol</h5>
                <form method="post" asp-page-handler="CerrarModal">
                    <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </form>
            </div>
            <div class="modal-body">
                <!-- Esto es para pasar la info a OnPostGuardarUsuario -->
                <form method="post" asp-page-handler="GuardarAccionesRol">


                    <div class="modalTipoRolAc">
                        <label for="projectTipoRolAc" class="form-label">Tipo de rol</label>
                        <select class="form-control" id="projectTipoRolAc" name="projectTipoRolAc" required>
                            @foreach (var rol in Model.Roles)
                            {
                                <option value="@rol">@rol</option>
                            }
                        </select>
                    </div>

                    <div class="modalTipoAccion">
                        <label for="projectTipoAccion" class="form-label">Tipo de accion</label>
                        <select class="form-control" id="projectTipoAccion" name="projectTipoAccion" required>
                            @foreach (var accion in Model.Acciones)
                            {
                                <option value="@accion">@accion</option>
                            }
                        </select>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Guardar Rol</button>
                </form>
            </div>
            <div class="modal-footer">
                <!-- Esto es para cerrar -->
                <form method="post" asp-page-handler="CerrarModal3">
                    <button type="submit" class="btn btn-secondary">Cerrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br />




<div class="text-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalModificarEmpleado" asp-page-handler="MostrarModal4">
        Modificar empleado
    </button>

</div>



<div class="modal fade" id="modalModificarEmpleado" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Modificar empleado</h5>
                <form method="post" asp-page-handler="CerrarModal">
                    <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </form>
            </div>
            <div class="modal-body">
                <!-- Esto es para pasar la info a OnPostGuardarUsuario -->
                <form method="post" asp-page-handler="ModificarEmpleado">

                    <div class="modalEmpleadoC">
                        <label for="projectEmpleadoM" class="form-label">Empleado</label>
                        <select class="form-control" id="projectEmpleadoM" name="projectEmpleadoM" required>
                            @foreach (var empleado in Model.Empleados)
                            {
                                <option value="@empleado">@empleado</option>
                            }
                        </select>
                    </div>
                    <div class="modalPuestosM">
                        <label for="projectPuestosM" class="form-label">Puestos</label>
                        <select class="form-control" id="projectPuestosM" name="projectPuestosM" required>
                            @foreach (var puesto in Model.Puestos)
                            {
                                <option value="@puesto">@puesto</option>
                            }
                        </select>
                    </div>
                    <br />
                    <div class="modalSalarioAc">
                        <label for="projectSalarioACM" class="form-label">Salario</label>
                        <input type="number" id="projectSalarioACM" name="projectSalarioACM" required>
                    </div>
                    <br />
                    <div class="modalFechaFin">
                        <label for="projectFechaFin" class="form-label">Fecha de modificación</label>
                        <input type="date" id="projectFechaFin" name="projectFechaFin" required>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">´Modificar empleado</button>
                </form>
            </div>
            <div class="modal-footer">
                <!-- Esto es para cerrar -->
                <form method="post" asp-page-handler="CerrarModal4">
                    <button type="submit" class="btn btn-secondary">Cerrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br />




<!-- Botón para abrir el modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#rolesModal" asp-page-handler="MostrarModal5">
    ver roles del Usuario
</button>


<!-- Modal para mostrar los roles del usuario y su ID -->

<div class="modal fade" id="rolesModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rolesModalLabel">Roles del Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID Usuario</th>
                            <th>Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.RolesUsuario.Count; i++)
                        {
                            <tr>
                                <td>@Model.IDUsuarios[i]</td>
                                <td>@Model.RolesUsuario[i]</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <form method="post" asp-page-handler="CerrarModal5">
                <button type="submit" class="btn btn-secondary">Cerrar</button>
            </form>

        </div>
    </div>
</div>





<!--Toda esta parte es para los empleados-->
<!-- Botón para abrir el modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#todosEmpleados" asp-page-handler="MostrarModal6">
    Ver todos los empleados 
</button>


<div class="modal fade" id="todosEmpleados" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <!-- Tamaño de modal ampliado -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="empleadosModalLabel">Lista de Empleados</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover">
                    <!-- Tabla con estilo -->
                    <thead>
                        <tr>
                            <th>Cédula</th>
                            <th>Nombre Completo</th>
                            <th>Género</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Provincia</th>
                            <th>Direccion</th>
                            <th>Teléfono</th>
                            <th>Departamento</th>
                            <th>Fecha de ingreso</th>
                            <th>Puesto</th>
                            <th>Rol</th>
                            <th>ID</th>
                            <th>Salario actual</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.CedulaEmp.Count; i++)
                        {
                            <tr>
                                <td>@Model.CedulaEmp[i]</td>
                                <td>@Model.NombreEmp[i] @Model.ApellidoEmp1[i] @Model.ApellidoEmp2[i]</td> <!-- Nombre completo -->
                                <td>@Model.GeneroEmp[i]</td>
                                <td>@Model.FechaNacimientoEmp[i].ToShortDateString()</td> <!-- Formato de fecha -->
                                <td>@Model.ProvinciaEmp[i]</td>
                                <td>@Model.DireccionEmp[i]</td>
                                <td>@Model.TelefonoEmp[i]</td>
                                <td>@Model.CodigoEmp[i]</td>
                                <td>@Model.FechaIngresoEmp[i]</td>
                                <td>@Model.PuestoEmp[i]</td>
                                <td>@Model.tipoRolEmp[i]</td>
                                <td>@Model.IDUsuarioEmp[i]</td>
                                <th>@Model.SalarioEmp</th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <form method="post" asp-page-handler="CerrarModal6">
                <button type="submit" class="btn btn-secondary">Cerrar</button>
            </form>

        </div>
    </div>
</div>

<!--Al de empleado le puedo agregar edad-->


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCotizacion" asp-page-handler="MostrarModal7">
    Crear cotizacion
</button>



<div class="modal fade" id="modalCotizacion" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Registrar cotización</h5>
                <form method="post" asp-page-handler="CerrarModal">
                    <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </form>
            </div>
            <div class="modal-body">
                <!-- Esto es para pasar la info a OnPostGuardarUsuario -->
                <form method="post" asp-page-handler="GuardarCotizacion">
                    <div class="modalClienteC">
                        <label for="projectClienteC" class="form-label">Cliente</label>
                        <select class="form-control" id="projectClienteC" name="projectClienteC" required>
                            @foreach (var cliente in Model.Clientes)
                            {
                                <option value="@cliente">@cliente</option>
                            }
                        </select>
                    </div>
                    <br />

                    <div class="modalEmpleadoC">
                        <label for="projectEmpleadoC" class="form-label">Empleado</label>
                        <select class="form-control" id="projectEmpleadoC" name="projectEmpleadoC" required>
                            @foreach (var empleado in Model.Empleados)
                            {
                                <option value="@empleado">@empleado</option>
                            }
                        </select>
                    </div>
                    <br />

                    <div class="modalFechaCotizacion">
                        <label for="projectFechaC" class="form-label">Fecha en que se cotizo</label>
                        <input type="date" class="form-control" id="projectFechaC" name="projectFechaC" required>
                    </div>
                    <br />

                    <div class="modalFechaCotizacionF">
                        <label for="projectFechaF" class="form-label">Fecha en que se cierra la cotizacion</label>
                        <input type="date" class="form-control" id="projectFechaF" name="projectFechaF" required>
                    </div>

                    <br />

                    <div class="modalTipoC">
                        <label for="projectTipoC" class="form-label">Tipo de cotizacion</label>
                        <select class="form-control" id="projectTipoC" name="projectTipoC" required>
                            @foreach (var cotizacion in Model.TiposCotizacion)
                            {
                                <option value="@cotizacion">@cotizacion</option>
                            }
                        </select>
                    </div>
                    <br />

                    <div class="modalEstado">
                        <label for="projectEstadoC" class="form-label">Estado de cotizacion</label>
                        <select class="form-control" id="projectEstadoC" name="projectEstadoC" required>
                            @foreach (var estado in Model.TiposEstadosC)
                            {
                                <option value="@estado">@estado</option>
                            }
                        </select>
                    </div>
                    <br />

                    <div class="modalProbabilidad">
                        <label for="projectProbabilidadC" class="form-label">Probabilidad de cotizacion</label>
                        <select class="form-control" id="projectProbabilidadC" name="projectProbabilidadC" required>
                            @foreach (var probabilidad in Model.Probabilidades)
                            {
                                <option value="@probabilidad">@probabilidad</option>
                            }
                        </select>
                    </div>
                    <br />


                    <div class="modalZona">
                        <label for="projectZona" class="form-label">Zona</label>
                        <select class="form-control" id="projectZona" name="projectZona" required>
                            @foreach (var zona in Model.Zonas)
                            {
                                <option value="@zona">@zona</option>
                            }
                        </select>
                    </div>

                    <br />
                    <div class="modalSector">
                        <label for="projectSector" class="form-label">Sector</label>
                        <select class="form-control" id="projectSector" name="projectSector" required>
                            @foreach (var sector in Model.Sectores)
                            {
                                <option value="@sector">@sector</option>
                            }
                        </select>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Guardar cotizacion</button>
                </form>
            </div>
            <div class="modal-footer">
                <!-- Esto es para cerrar -->
                <form method="post" asp-page-handler="CerrarModal7">
                    <button type="submit" class="btn btn-secondary">Cerrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br />




<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalPlanilla" asp-page-handler="MostrarModal8">
    Registrar planilla
</button>




<div class="modal fade show" id="modalPlanilla" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" style="display: @(Model.ShowModal3 ? "block" : "none");">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Modificar empleado</h5>
                <form method="post" asp-page-handler="CerrarModal">
                    <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </form>
            </div>
            <div class="modal-body">
                <!-- Esto es para pasar la info a OnPostGuardarUsuario -->
                <form method="post" asp-page-handler="GuardarPlanilla">

                    <div class="modalCodigoPlanilla">
                        <label for="projectPlanillaCodigo" class="form-label">Codigo de planilla</label>
                        <input type="text" id="projectPlanillaCodigo" name="projectPlanillaCodigo" required>
                    </div>
                    <br />
                    <div class="modalFechaPlanilla">
                        <label for="projectFechaPlanilla" class="form-label">Fecha de creación</label>
                        <input type="date" id="projectFechaPlanilla" name="projectFechaPlanilla" required>
                    </div>
                    <br />
                    <div class="modalEmpleadoP">
                        <label for="projectEmpleadoP" class="form-label">Empleado</label>
                        <select class="form-control" id="projectEmpleadoP" name="projectEmpleadoP" required>
                            @foreach (var empleado in Model.Empleados)
                            {
                                <option value="@empleado">@empleado</option>
                            }
                        </select>
                    </div>
                    <div class="modalPlanillaHoras">
                        <label for="projectPlanillaHoras" class="form-label">Cantidad de horas trabajadas</label>
                        <input type="number" id="projectPlanillaHoras" name="projectPlanillaHoras" required>
                    </div>
                    <br />


                    <button type="submit" class="btn btn-primary">Guardar Planilla</button>
                </form>
            </div>
            <div class="modal-footer">
                <!-- Esto es para cerrar -->
                <form method="post" asp-page-handler="CerrarModal8">
                    <button type="submit" class="btn btn-secondary">Cerrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br />




<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCotizacionM" asp-page-handler="MostrarModal9">
    Crear cotizacion
</button>



<div class="modal fade" id="modalCotizacionM" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Registrar cotización</h5>
                <form method="post" asp-page-handler="CerrarModal9">
                    <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </form>
            </div>
            <div class="modal-body">
                <!-- Esto es para pasar la info a OnPostGuardarUsuario -->
                <form method="post" asp-page-handler="ModificarCotizacion">
                    <div class="modalCotizacionC">
                        <label for="projectCotizacionC" class="form-label">Cliente</label>
                        <select class="form-control" id="projectCotizacionC" name="projectCotizacionC" required>
                            @foreach (var cotizacion in Model.Cotizaciones)
                            {
                                <option value="@cotizacion">@cotizacion</option>
                            }
                        </select>
                    </div>
                    <br />
                    <div class="modalClienteC">
                        <label for="projectClienteC" class="form-label">Cliente</label>
                        <select class="form-control" id="projectClienteC" name="projectClienteC" required>
                            @foreach (var cliente in Model.Clientes)
                            {
                                <option value="@cliente">@cliente</option>
                            }
                        </select>
                    </div>
                    <br />

                    <div class="modalEmpleadoC">
                        <label for="projectEmpleadoC" class="form-label">Empleado</label>
                        <select class="form-control" id="projectEmpleadoC" name="projectEmpleadoC" required>
                            @foreach (var empleado in Model.Empleados)
                            {
                                <option value="@empleado">@empleado</option>
                            }
                        </select>
                    </div>
                    <br />

                    <div class="modalFechaCotizacion">
                        <label for="projectFechaC" class="form-label">Fecha en que se cotizo</label>
                        <input type="date" class="form-control" id="projectFechaC" name="projectFechaC" required>
                    </div>
                    <br />

                    <div class="modalFechaCotizacionF">
                        <label for="projectFechaF" class="form-label">Fecha en que se cierra la cotizacion</label>
                        <input type="date" class="form-control" id="projectFechaF" name="projectFechaF" required>
                    </div>

                    <br />

                    <div class="modalTipoC">
                        <label for="projectTipoC" class="form-label">Tipo de cotizacion</label>
                        <select class="form-control" id="projectTipoC" name="projectTipoC" required>
                            @foreach (var cotizacion in Model.TiposCotizacion)
                            {
                                <option value="@cotizacion">@cotizacion</option>
                            }
                        </select>
                    </div>
                    <br />

                    <div class="modalEstado">
                        <label for="projectEstadoC" class="form-label">Estado de cotizacion</label>
                        <select class="form-control" id="projectEstadoC" name="projectEstadoC" required>
                            @foreach (var estado in Model.TiposEstadosC)
                            {
                                <option value="@estado">@estado</option>
                            }
                        </select>
                    </div>
                    <br />

                    <div class="modalProbabilidad">
                        <label for="projectProbabilidadC" class="form-label">Probabilidad de cotizacion</label>
                        <select class="form-control" id="projectProbabilidadC" name="projectProbabilidadC" required>
                            @foreach (var probabilidad in Model.Probabilidades)
                            {
                                <option value="@probabilidad">@probabilidad</option>
                            }
                        </select>
                    </div>
                    <br />


                    <div class="modalZona">
                        <label for="projectZona" class="form-label">Zona</label>
                        <select class="form-control" id="projectZona" name="projectZona" required>
                            @foreach (var zona in Model.Zonas)
                            {
                                <option value="@zona">@zona</option>
                            }
                        </select>
                    </div>

                    <br />
                    <div class="modalSector">
                        <label for="projectSector" class="form-label">Sector</label>
                        <select class="form-control" id="projectSector" name="projectSector" required>
                            @foreach (var sector in Model.Sectores)
                            {
                                <option value="@sector">@sector</option>
                            }
                        </select>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Guardar cotizacion</button>
                </form>
            </div>
            <div class="modal-footer">
                <!-- Esto es para cerrar -->
                <form method="post" asp-page-handler="CerrarModal9">
                    <button type="submit" class="btn btn-secondary">Cerrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
