@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="intro">Bienvenidos al segundo proyecto de Bases de datos</h1>
</div>



<!--Modal para usuarios o empleados-->

<div class="text-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEmpleado">
        Registrar Usuario
    </button>
</div>



<div class="modal fade show" id="modalEmpleado" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" style="display: @(Model.ShowModal1 ? "block" : "none");">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Registrar empleado</h5>
                    <form method="post" asp-page-handler="CerrarModal">
                    <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </form>
                </div>
                <div class="modal-body">
                    <!-- Esto es para pasar la info a OnPostGuardarUsuario -->
                    <form method="post" asp-page-handler="GuardarEmpleado">
                        <div class="modalEmpleadoCedula">
                            <label for="projectEmpleadoC" class="form-label">Cédula</label>
                        <input type="text" class="form-control" id="projectEmpleadoC" name="projectEmpleadoC" required>
                        </div>
                        <div class="modalEmpleadoNombre">
                            <label for="projectEmpleadoN" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="projectEmpleadoN" name="projectEmpleadoN" required />
                        </div>
                        <br />
                        <div class="modalEmpleadoApellido">
                            <label for="projectEmpleadoAP1" class="form-label">Primer apellido</label>
                        <input type="text" class="form-control" id="projectEmpleadoAP1" name="projectEmpleadoAP1" required />
                        </div>
                        <br />
                        <div class="modalEmpleadoApellido2">
                            <label for="projectEmpleadoAP2" class="form-label">Segundo apellido</label>
                        <input type="text" class="form-control" id="projectEmpleadoAP2" name="projectEmpleadoAP2" required />
                        </div>
                        <br />
                        <div class="modalEmpleadoGenero">
                        <label for="projectEmpleadoGenero" class="form-label">Género</label>
                        <select name="projectEmpleadoGenero" id="projectEmpleadoGenero">
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                            </select>
                        </div>
                        <br />
                        <div class="modalEmpleadoFecha">
                            <label for="projectFecha" class="form-label">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="projectFecha" name="projectFecha" required />
                        </div>
                        <br />
                    <div class="modalProvincia">
                        <label for="projectProvincia" class="form-label">Provincia</label>
                        <input type="text" class="form-control" id="projectProvincia" name="projectProvincia" required />
                    </div>
                    <br />
                    <div class="modalDireccion">
                        <label for="projectDireccion" class="form-label">Direccion</label>
                        <input type="text" class="form-control" id="projectDireccion" name="projectDireccion" required />
                    </div>
                    <br />
                    <div class="modalTelefono">
                        <label for="projectTelefono" class="form-label">Telefono</label>
                        <input type="text" class="form-control" id="projectTelefono" name="projectTelefono" required />
                    </div>
                    <br />

                    <div class="modalDepartamentos">
                        <label for="projectDepartamentos" class="form-label">Departamentos</label>
                        <select class="form-control" id="projectDepartamentos" name="projectDepartamentos" required>
                            @foreach (var departamento in Model.Departamentos)
                            {
                                <option value="@departamento">@departamento</option>
                            }
                        </select>
                    </div>
                    <br />
                    <div class="modalPlanillas">
                        <label for="projectPlanillas" class="form-label">Planillas</label>
                        <select class="form-control" id="projectPlanillas" name="projectPlanillas" required>
                            @foreach (var planilla in Model.Planillas)
                            {
                                <option value="@planilla">@planilla</option>
                            }
                        </select>
                    </div>
                    <br />

                    <div class="modalFechaIngreso">
                        <label for="projectFechaIngreso" class="form-label">Fecha de ingreso</label>
                        <input type="date" class="form-control" id="projectFechaIngreso" name="projectFechaIngreso" required />
                    </div>
                    <br />

                    <div class="modalPuestos">
                        <label for="projectPuestos" class="form-label">Puestos</label>
                        <select class="form-control" id="projectPuestos" name="projectPuestos" required>
                            @foreach (var puesto in Model.Puestos)
                            {
                                <option value="@puesto">@puesto</option>
                            }
                        </select>
                    </div>
                    <br />
                    <div class="modalRoles">
                        <label for="projectRoles" class="form-label">Roles</label>
                        <select class="form-control" id="projectRoles" name="projectRoles" required>
                            @foreach (var rol in Model.Roles)
                            {
                                <option value="@rol">@rol</option>
                            }
                        </select>
                    </div>
                    <br />
                    <div class="modalUsuarios">
                        <label for="projectUsuarios" class="form-label">ID de usuario</label>
                        <select class="form-control" id="projectUsuarios" name="projectUsuarios" required>
                            @foreach (var usuario in Model.Usuarios)
                            {
                                <option value="@usuario">@usuario</option>
                            }
                        </select>
                    </div>
                    <br />
                    
                    <button type="submit" class="btn btn-primary">Guardar empleado</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- Esto es para cerrar -->
                    <form method="post" asp-page-handler="CerrarModal">
                        <button type="submit" class="btn btn-secondary">Cerrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />











    <!--Toda esta parte es para los roles-->



<div class="text-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalRoles">
        Registrar roles
    </button>
</div>



<div class="modal fade show" id="modalRoles" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" style="display: @(Model.ShowModal2 ? "block" : "none");">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Registrar rol</h5>
                <form method="post" asp-page-handler="CerrarModal">
                    <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </form>
            </div>
            <div class="modal-body">
                <!-- Esto es para pasar la info a OnPostGuardarUsuario -->
                <form method="post" asp-page-handler="GuardarRol">
                    <div class="modalTipoRol">
                        <label for="projectTipoRol" class="form-label">Tipo de rol</label>
                        <input type="text" class="form-control" id="projectTipoRol" name="projectTipoRol" required>
                    </div>
                    <div class="modalDescripcionRol">
                        <label for="projectDescripcionRol" class="form-label">Descripción del rol</label>
                        <textarea class="form-control" id="projectDescripcionRol" name="projectDescripcionRol"  required></textarea>

                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Guardar Rol</button>
                </form>
            </div>
            <div class="modal-footer">
                <!-- Esto es para cerrar -->
                <form method="post" asp-page-handler="CerrarModal">
                    <button type="submit" class="btn btn-secondary">Cerrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br />





<!--Toda esta parte es para los roles con sus acciones-->



<div class="text-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAccionesRol">
        Registrar acciones por rol
    </button>
</div>



<div class="modal fade show" id="modalAccionesRol" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" style="display: @(Model.ShowModal3 ? "block" : "none");">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Registrar acciones por rol</h5>
                <form method="post" asp-page-handler="CerrarModal">
                    <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </form>
            </div>
            <div class="modal-body">
                <!-- Esto es para pasar la info a OnPostGuardarUsuario -->
                <form method="post" asp-page-handler="GuardarAccionesRol">


                    <div class="modalTipoRolAc">
                        <label for="projectTipoRolAc" class="form-label">Tipo de rol</label>
                        <select class="form-control" id="projectTipoRolAc" name="projectTipoRolAc" required>
                            @foreach (var rol in Model.Roles)
                            {
                                <option value="@rol">@rol</option>
                            }
                        </select>
                    </div>

                    <div class="modalTipoAccion">
                        <label for="projectTipoAccion" class="form-label">Tipo de accion</label>
                        <select class="form-control" id="projectTipoAccion" name="projectTipoAccion" required>
                            @foreach (var accion in Model.Acciones)
                            {
                                <option value="@accion">@accion</option>
                            }
                        </select>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Guardar Rol</button>
                </form>
            </div>
            <div class="modal-footer">
                <!-- Esto es para cerrar -->
                <form method="post" asp-page-handler="CerrarModal">
                    <button type="submit" class="btn btn-secondary">Cerrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br />



<!--Toda esta parte es para los empleados-->
